In [26]:
import sqlite3
import pandas as pd
import seaborn as sns

conn = sqlite3.connect('DB/unknome_db_03_Nov_2023.sqlite')

```python
# Leer datos de la tabla en un DataFrame de Pandas
df = pd.read_sql_query(consulta, conn)
```

In [27]:
consulta = "SELECT * FROM Protein LIMIT 5"
df = pd.read_sql_query(consulta, conn)

df

,id,accessions,name,gene_name,orf_name,subcell_locs,fasta_header,species,species_aka,species_id,...,panther_db_xref,panther_db_name,organism_db_xref,organism_db_name,organism_db,clust_id,knownness,features,sequence,align_seq
0,RBL_AMBTC,Q70XZ5,Ribulose bisphosphate carboxylase large chain ...,rbcL,,pla,sp|Q70XZ5|RBL_AMBTC Ribulose bisphosphate carb...,Amborella trichopoda,None,13333,...,PTHR42704,RIBULOSE BISPHOSPHATE CARBOXYLASE,ERM97892,None,EnsemblPlants,UKP00000,None,ACT_SITE:2;BINDING:9;CHAIN:1;DISULFID:1;MOD_RE...,MSPKTETKASAGFKAGVKDYRLTYYTPDYETLATDILAAFRVTPQP...,None
1,PSBA_AMBTC,Q70Y17,Photosystem II protein D1 (PSII D1 protein) (E...,psbA,,pla,sp|Q70Y17|PSBA_AMBTC Photosystem II protein D1...,Amborella trichopoda,None,13333,...,PTHR33149,PHOTOSYSTEM II PROTEIN D1,ERM97892,None,EnsemblPlants,UKP00001,None,BINDING:13;CHAIN:1;INIT_MET:1;MOD_RES:2;PROPEP...,MTAILERRESTSLWGRFCNWITSTENRLYIGWFGVLMIPTLLTATS...,None
2,PETL_AMBTC,Q70XY8;Q5K3V0,Cytochrome b6-f complex subunit 6 (Cytochrome ...,petL,,pla,sp|Q70XY8|PETL_AMBTC Cytochrome b6-f complex s...,Amborella trichopoda,None,13333,...,PTHR37266,CYTOCHROME B6-F COMPLEX SUBUNIT 6,ERM97892,None,EnsemblPlants,UKP00002,None,CHAIN:1;TRANSMEM:1,MLTITSYFGFLLAALTITSALLIGLNKIRLI,None
3,NU4LC_AMBTC,Q70XW2,"NAD(P)H-quinone oxidoreductase subunit 4L, chl...",ndhE,,pla,sp|Q70XW2|NU4LC_AMBTC NAD(P)H-quinone oxidored...,Amborella trichopoda,None,13333,...,PTHR11434,NADH-UBIQUINONE OXIDOREDUCTASE SUBUNIT ND4L,ERM97892,None,EnsemblPlants,UKP00003,None,CHAIN:1;TRANSMEM:3,MMFEYALVLSSYLFSMGIYGLITSRNMVRALMCLELILNAVNMNLV...,None
4,NU6C_AMBTC,Q70XW1,"NAD(P)H-quinone oxidoreductase subunit 6, chlo...",ndhG,,pla,sp|Q70XW1|NU6C_AMBTC NAD(P)H-quinone oxidoredu...,Amborella trichopoda,None,13333,...,PTHR33269,NADH-UBIQUINONE OXIDOREDUCTASE CHAIN 6,ERM97892,None,EnsemblPlants,UKP00004,None,CHAIN:1;TRANSMEM:5,MDLLGPIHDILLVSLGSGIILGSLGVVLLTNPIYSAFSSGLVLVRI...,None

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                5 non-null      object
 1   accessions        5 non-null      object
 2   name              5 non-null      object
 3   gene_name         5 non-null      object
 4   orf_name          5 non-null      object
 5   subcell_locs      5 non-null      object
 6   fasta_header      5 non-null      object
 7   species           5 non-null      object
 8   species_aka       0 non-null      object
 9   species_id        5 non-null      int64
 10  tax_id            5 non-null      int64
 11  tax_name          5 non-null      object
 12  tax_lineage       5 non-null      object
 13  pubmed_ids        5 non-null      object
 14  embl_ids          5 non-null      object
 15  pfam_ids          5 non-null      object
 16  interpro_ids      5 non-null      object
 17  panther_db_xref   5 non-null      object
 18  panther_db_name   5 non-null      object
 19  organism_db_xref  5 non-null      object
 20  organism_db_name  0 non-null      object
 21  organism_db       5 non-null      object
 22  clust_id          5 non-null      object
 23  knownness         0 non-null      object
 24  features          5 non-null      object
 25  sequence          5 non-null      object
 26  align_seq         0 non-null      object
dtypes: int64(2), object(25)
memory usage: 1.2+ KB

In [29]:
consulta = "SELECT DISTINCT species FROM Protein"
df = pd.read_sql_query(consulta, conn)

df

                  species
0    Amborella trichopoda
1     Anolis carolinensis
2       Anopheles gambiae
3        Aquifex aeolicus
4    Arabidopsis thaliana
..                    ...
135    Xenopus tropicalis
136   Yarrowia lipolytica
137       Yersinia pestis
138              Zea mays
139        Zostera marina

[140 rows x 1 columns]

In [30]:
consulta = '''SELECT species, COUNT(*) as ocurrencias 
FROM Protein
GROUP BY species;'''

df = pd.read_sql_query(consulta, conn)

df

                  species  ocurrencias
0    Amborella trichopoda        18405
1     Anolis carolinensis        20594
2       Anopheles gambiae        11071
3        Aquifex aeolicus         1260
4    Arabidopsis thaliana        24459
..                    ...          ...
135    Xenopus tropicalis        20984
136   Yarrowia lipolytica         5157
137       Yersinia pestis         2946
138              Zea mays        32055
139        Zostera marina        18024

[140 rows x 2 columns]

In [31]:
df.sort_values("ocurrencias", ascending=False)

                      species  ocurrencias
129         Triticum aestivum        95713
51         Gossypium hirsutum        58359
83          Nicotiana tabacum        57485
54          Helianthus annuus        53556
49                Glycine max        48958
..                        ...          ...
84   Nitrosopumilus maritimus         1104
55        Helicobacter pylori          983
21      Chlamydia trachomatis          621
78      Mycoplasma genitalium          351
115         Spinacia oleracea           86

[140 rows x 2 columns]

In [32]:
df.loc[df["species"] == "Homo sapiens"]

         species  ocurrencias
57  Homo sapiens        19916

In [33]:
consulta = "SELECT DISTINCT species_aka FROM Protein"
df = pd.read_sql_query(consulta, conn)

df

  species_aka
0        None

In [34]:
# Cerrar la conexiÃ³n
conn.close()